.aux-icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    justify-content: center;
    

}

.aux-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    background: linear-gradient(97.5deg, rgba(119, 119, 119, 0.25) 6.96%, rgba(0, 0, 0, 0.1) 102.5%);
    backdrop-filter: blur(40px);
    border-radius: 100%;
}

.aux-icon:hover{
    background: linear-gradient(97.5deg, rgba(202, 202, 202, 0.25) 6.96%, rgba(146, 146, 146, 0.1) 102.5%);
}